@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
  background-color: #111;
  text-align: center;
  font-family: "Inter", sans-serif;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 9vh;
}

.card {
  transition: 0.3s;
  width: 30%;
  height: 250px;
  color: white;
  background-color: rgba(34, 34, 34, 0.5);
  border-radius: 30px;
  border: none;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.card:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.08),
    0 17px 50px 0 rgba(0, 0, 0, 0.05), 0 4px 4px 0 rgba(0, 0, 0, 0.12),
    0 7px 14px 0 rgba(0, 0, 0, 0.09);
  transform: scale(1.05);
}

.container {
  padding: 2px 16px;
}

.title {
  margin-top: 20px;
  font-weight: bold;
  font-size: 25px;
}

.themes2 {
  cursor: pointer;
  border: 2px;
  transition: 0.2s;
  margin-top: 10px;
  background-color: #333;
  padding: 0.5rem;
  border-radius: 0.375rem;
  border-color: white;
  color: white;
  height: 50px;
  width: 200px;
}

.themes2:hover {
  transform: scale(1.1);
}

select,
input {
  border: none;
  background-color: #333;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 0.5rem;
  border-radius: 0.375rem;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.15);
}

select:hover,
input:hover {
  opacity: 0.8;
}

input:focus {
  outline: none;
  opacity: 0.6;
}

input[type="text"] {
  height: 40px;
  width: 80%;
  margin-bottom: 10px;
}

select {
  height: 40px;
  width: 80%;
}
