html {
  height: 100%;
  width: 100%;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:[email protected];500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
      background-image: url('https://media.discordapp.net/attachments/1125121236180152412/1125161670285738107/Screen.png?width=850&height=604');
  background-size: cover;
}

.wrapper {
    color: white;
    width: 450px;
    padding: 25px;
    background: rgb(0, 0, 0);
    border-radius: 7px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.06);
}

.wrapper:active {
    color: white;
    width: 450px;
    padding: 25px;
    background: rgb(0, 0, 0);
    border-radius: 7px;
    box-shadow: 0 15px 30px #0000000f;
}

.wrapper .gradient-box {
    height: 220px;
    width: 100%;
    border-radius: 7px;
    background: linear-gradient(to left top, #5665E9, #A271F8);
}

.wrapper .row {
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
    color: #a6d189;
}

.options p {
    font-size: 1.1rem;
    margin-bottom: 8px;
    color: #a6d189;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}

.row :where(.column, button) {
    width: calc(100% / 2 - 12px);
}

.options .select-box {
    border-radius: 5px;
    padding: 10px 15px;
    border: 1px solid #aaa;
}

.select-box select {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.12rem;
    background: none;
    color: #a6d189;
    background-color: rgb(0, 0, 0);
}

.options .palette {
    margin-left: 60px;
}

.palette input {
    height: 41px;
    width: calc(100% / 2 - 20px);
}

.palette input:last-child {
    margin-left: 6px;
}

.wrapper textarea {
    width: 100%;
    color: #333;
    font-size: 1.05rem;
    resize: none;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.buttons button {
    padding: 15px 0;
    border: none;
    outline: none;
    color: #fff;
    margin: 0 0 -15px;
    font-size: 1.09rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

.buttons .refresh {
    background: #0080ff;
}

.buttons .refresh:hover {
    background: rgb(0, 0, 0);
    border: 2px solid #a6d189;
    font-weight: 45px;
}

.buttons .refresh:active {
    background: rgb(2, 0, 36);
    border: 2px solid rgb(0, 0, 0);
    background: -moz-linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 20%, rgba(0, 212, 255, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 20%, rgba(0, 212, 255, 1) 100%);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 20%, rgba(0, 212, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024", endColorstr="#00d4ff", GradientType=1);
}

.buttons .copy {
    background: #8A6CFF;
}

.buttons .copy:hover {
    background: rgb(0, 0, 0);
    border: 2px solid #a6d189;
}

.buttons .copy:active {
    background: rgb(2, 0, 36);
    border: 2px solid rgb(0, 0, 0);
    background: -moz-linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 20%, rgba(0, 212, 255, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 20%, rgba(0, 212, 255, 1) 100%);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 20%, rgba(0, 212, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024", endColorstr="#00d4ff", GradientType=1);
}

@media screen and (max-width: 432px) {
    .wrapper {
        padding: 25px 20px;
    }

    .row :where(.column, button) {
        width: calc(100% / 2 - 8px);
    }

    .options .select-box {
        padding: 8px 15px;
    }

    .options .palette {
        margin-left: 40px;
    }

    .options .colors {
        display: flex;
        justify-content: space-between;
    }

    .palette input {
        width: calc(100% / 2 - 5px);
    }

    .palette input:last-child {
        margin-left: 0;
    }
}

.clr {
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    border: 2px solid #a6d189;
}
.coc {
    background-color: #3e413f;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #4c4d4c;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

/* Apply hover effect */
.coc:hover {
    background-color: #9a9e9a;
    border: 2px solid #9ca09c;
}