/* tabs.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(https://e1.pxfuel.com/desktop-wallpaper/933/394/desktop-wallpaper-sand-dunes-desert-landscape-evening-windows-10x-nature-blue-sand.jpg);
  font-family: Arial, sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.tab {
  border: none;
  outline: none;
}


.browser {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  width: 220px;
  background-color: #1C1D20;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.arrow {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

.refresh {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

.url-bar {
  width: 100%;
  height: 40px;
  padding: 0px 12px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.08);
  color: #000;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.action-button {
  background-color: rgba(255, 255, 255, 0.08);
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  width: 60px;
  height: 40px;
  border-radius: 5px;
}

.tabs {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-bottom: 10px;
}

.tab {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.05);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.tab.active {
  background-color: #616161;
}

.close-button {
  margin-left: auto;
  color: #fff;
  cursor: pointer;
  opacity: 0;
}

.tab:hover .close-button {
  opacity: 1;
}

.add-tab-button {
  background-color: rgba(255, 255, 255, 0.08);
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px;
}

.tab-content {
  flex-grow: 1;
  padding: 10px;
  color: #fff;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.search-bar {
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 8px;
  padding: 10px;
  width: 758px;
  height: 80px;
  color: #635f5f;
  font-size: 24px;
  font-family: "Plus" Jakarta Sans;
  font-weight: 600;
  letter-spacing: -0.24px;
}
