body,
h1,
p,
input {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: url('https://cdn.wallpapersafari.com/3/24/Ikljay.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  body {
    background-size: 100% auto;
    background-position: center;
  }
}

#header {
  text-align: center;
  padding: 20px;
}

#content {
  text-align: center;
  padding: 10px;
}

h1 {
  font-family: 'Claro', sans-serif;
  font-size: 100px;
  margin-bottom: 20px;
  color: #fff;
  outline-color: #000;
  outline-width: 10px;
}

form {
  margin-bottom: 20px;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.form__input {
  justify-content: center;
  width: 500px;
  height: 30px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: 6;
}

.desc {
  margin-top: 20px;
}

.fa-brands,
.fa-solid {
  margin-right: 10px;
  font-size: 24px;
  color: #000;
  text-decoration: none;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.fa-brands:hover,
.fa-solid:hover {
  color: #0a1bff;
  transform: scale(1.2);
}

@media (max-width: 600px) {
  .form__input {
    width: 100%;
  }
}

.Clock {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  padding: 5px;
  background-color: #8080804d;
  border-radius: 5px;
  color: #fff;
}

#date {
  margin-top: 1px;
}

.Clock span {
  margin: 0 1px;
  margin-top: 460;
}

#session {
  font-size: 24px;
  margin: 0 3px;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: flex;
  align-items: center;
}

.logo {
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
  margin-right: 20px;
  margin-left: 60px;
}

.nav-buttons {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.nav-button {
  margin-right: 20px;
  text-decoration: none;
  color: #ffffff;
  font-weight: lighter;
  font-size: 20px;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f980;
  min-width: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 5px 0;
  z-index: 1;
  display: none;
  border-radius: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-item {
  padding: 5px 10px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 14px;
  display: block;
}


p {
  font-family: 'Claro', sans-serif;
  font-size: 15px;
  margin-bottom: 20px;
  color: #fff;
  outline-color: #000;
  outline-width: 12px;
}


social-links {
   position: fixed; /* or absolute */
  top: 50%;
  left: 50%;

}